body { background-color: rgba(194, 197, 28, 0.747);}

h1 {
      color: rgb(67, 173, 24);
}

h2 {
      color: rgb(207, 116, 30);
}

input {
      color: darkorange;
}

p {      
      color: rgb(94, 172, 16);
}


